---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const list = [
  {
    label: "在线编辑器",
    desc: "在线编辑HTML,CSS,JS",
    value: "playground",
  },
  {
    label: "diff editor",
    desc: "代码diff 比较",
    value: "diff",
  },
  {
    label: "步骤表单",
    desc: "Solidjs 实现的步骤表单",
    value: "stepform",
  },
  {
    label: "Markdown",
    desc: "markdown 编辑器",
    value: "markdown",
  },
  {
    label: "HangMan",
    desc: "HangMan 猜词小游戏",
    value: "hangman",
  },
];
---

<Layout isHome={true} title="code playground">
  <main class="2xl:w-[1300px] mx-[auto] grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-2    gap-4 justify-center px-2 py-4 ">
    {
      list.map((item) => {
        return (
          <Card title={item.label} subTitle={item.desc} url={`./${item.value}`} />
        );
      })
    }
    
  </main>
</Layout>
