---
import Layout from '../layouts/Layout.astro';
---

<Layout title="code playground">
	<main class="h-[100vh] flex items-center justify-center">
		<a class="cursor-pointer text-blue-500 mx-4" href="/playground">在线编辑器</a>
		<a class="cursor-pointer text-blue-500 mx-4" href="/playground">diff editor</a>
		<a class="cursor-pointer text-blue-500 mx-4" href="/playground">代码片段</a>
	</main>
</Layout>