---
import Layout from "../layouts/Layout.astro";

const list = [
  {
    label: "在线编辑器",
    value: "playground",
  },
  {
    label: "diff editor",
    value: "diff",
  },
  {
    label: "代码片段",
    value: "playground",
  },
  {
    label: "首页",
    value: "home",
  },
  {
    label: "步骤表单",
    value: "stepform",
  },
  {
    label: "Markdown",
    value: "markdown",
  },
  {
    label: "HangMan",
    value: "hangman",
  },
];
---

<Layout title="code playground">
  <main class="grid grid-cols-10">
    {
      list.map((item) => {
        return (
          <a
            class="cursor-pointer hover:bg-slate-400 hover:text-white  flex justify-center items-center py-8 text-blue-500  border-black border-solid border-2 ml-[-2px] mt-[-2px]"
            href={`./${item.value}`}
          >
            {item.label}
          </a>
        );
      })
	  
    }
  </main>
</Layout>
