---
import Layout from '../layouts/Layout.astro';
import PlayGround from '../components/Playground/PlayGround'
---

<Layout title="code playground">
	<main>
		<PlayGround client:only="solid-js" />
	</main>
</Layout>

<style>
</style>
