---
export interface Props {
  isHome?: boolean;
}
const { isHome = false } = Astro.props;
---

<header aria-label="Page Header">
  <div class="mx-auto max-w-screen-xl px-2 py-2 sm:py-2 sm:px-2 lg:px-2">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">代码训练基地</h1>
        <p class="mt-1.5 text-sm text-gray-500">一些简单的小例子！</p>
      </div>

      <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
        <a
        target="_blank"

          href="https://github.com/vivipure"
          class="inline-flex items-center justify-center rounded-lg border border-gray-200 px-5 py-3 text-gray-500 transition hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:ring"
          type="button"
        >
          <span class="text-sm font-medium"> github</span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="ml-1.5 h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
            ></path>
          </svg>
        </a>
        {
          !isHome && (
            <a
              href="/"
              class="block text-center rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
              type="button"
            >
              回到首页
            </a>
          )
        }
      </div>
    </div>
  </div>
</header>
